<div class="composer-container">
    <div class="row">
      <div class="col-sm-12">
        <h3 class="align-center">Aaron Copland</h3>
      </div>
    </div>
  
    <div class="row about-composer">
      <div class="col-sm-3">
        <img src="./assets/aaron-copland.jpg" />
        <div class="caption">https://en.wikipedia.org/wiki/Aaron_Copland</div>
      </div>
      <div class="col-sm-9">
        <p>
            Aaron Copland born in Brooklyn, New York on November 14, 1900, he died December 2, 1990 at 90 years old.
            Aaron was the youngest of 5 children.  He studied under Rubin Goldmark in Manhattan during his late teens,
            and left at 20 years old to continue his studies in Fontainebleau, France.  He ventured back to the US by the mid-1920’s.
            He was an American composer for nearly four decades, winning a Pulitzer for his piece Appalachian Spring.<em class="apa-reference"><a href="https://www.biography.com/musician/aaron-copland" target="_blank">  Source</a></em>
        </p>
      </div>
    </div>
  </div>
